{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
{% if validlink %}

    <div class="form-container">
        <form class="form" method ="post">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_newPassword" class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    <input type="password" name="new_password1" id="id_newPassword" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_confirmPassword" class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">
                    <input type="password" name="new_password2" id="id_confirmPassword" class="form__input">
                    <span class="form__error">
                    </span>
                </div>
            </div>
            <span class="form__error">
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                {% endfor %}
            </span>
                <div class="form__footer">
                    <button type="submit" class="button button_style_blue">Изменить пароль</button>
                </div>
        </form>
    </div>
{% else %}
    <div class="form-container">
        <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
    </div>
{% endif %}

{% endblock %}