{% extends 'base.html' %}
{% load static %}
{% block title %}Изменить пароль{% endblock %}

{% block header%}
    <div class="main__header">
        <h1 class="main__title content:center">Ссылка на восстановление пароля отправлена</h1>
    </div>
{% endblock %}
{% block content %}
        <div class="custom-center-block">
            <p class="custom-text-block">
                Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.
            </p>

    </div>
{% endblock %}