{% load static %}
{% load user_filter %}
{% load thumbnail %}

<!--<div class="card-list">-->
    <div class="card-user" data-author="{{ author.id }}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{ author.first_name }}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in author.recipes.all %}
                    {% if forloop.counter < 4 %}
                        <li class="card-user__item">
                            <div class="recipe">
                                {% thumbnail recipe.image "144x144" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image {% if shop_list %}recipe__image_big{% endif %}">
                                {% endthumbnail %}
                                <h3 class="recipe__title">{{ recipe.title }}</h3>
                                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time| duration }}</p>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if author.recipe_count > 3 %}
                    <li class="card-user__item">
                        <a href="{% url 'author_page' author.id %}" class="card-user__link link">Еще {{ author.recipe_count|add:"-3"|conjoin:"рецепт,рецепта,рецептов"}} ...</a>
                    </li>
                {% endif %}
            </ul>
        </div>
 {% if user.is_authenticated and author != user %}
    <div class="author-subscribe" data-author="{{ author.id }}">
      <p style="padding: 0 0 2em 0;">
      {% csrf_token %}
        {% if user|is_subscribed_to:author %}
          <button class="button button_style_light-blue button_size_subscribe" name="subscribe">
            Отписаться от автора
          </button>
        {% else %}
          <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
            Подписаться на автора
          </button>
        {% endif %}
      </p>
    </div>
  {% endif %}
    </div>
<!--</div>-->