{% load static %}
{% load thumbnail %}
{% load user_filter %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

<div class="card-list">
    {% for recipe in recipes %}
    <div class="card" data-id="120">
        <a href="{% url 'detail_recipe' recipe.id %}" class="link" target="_blank">
            {% include 'includes/image_block.html' %}
        </a>
        <div class="card__body">
            <a class="card__title link" href="{% url 'detail_recipe' recipe.id %}" target="_blank">{{ recipe.title }}</a>
            <ul class="card__items">
                {% for tag in recipe.tags.all %}
                    <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span></li>
                {% endfor %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time | duration}}</p>
                <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author.first_name }}</a></p>
            </div>
        </div>
        <div class="card__footer">
            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
        </div>
    </div>
    {% endfor %}
</div>
