{% load user_filter %}

<div class="main__header">
{% if author == 'author' %}
    <h1 class="main__title">{{ recipes.first.author.first_name }}</h1>
{% elif author == 'favorities' %}
    <h1 class="main__title">Избранное</h1>
{% else %}
    <h1 class="main__title">Рецепты</h1>
{% endif %}
<ul class="tags">
    {% get_all_tags as all_tags  %}
    {% for tag in all_tags %}
        <li class="tags__item">
            <a
                id="{{ tag.title }}"
                class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                {% if tag.title in request.GET|parse_tags %}tags__checkbox_active{% endif %}"
                href="{{ request.path }}?{{ request| set_tag_qs:tag}}">
            </a>
            <span class="tags__label">{{ tag.title }}</span>
        </li>
    {% endfor %}
</ul>
</div>
