{% extends "base.html" %}
{% load static %}
{% load user_filter %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block title %}
    Избранное
{% endblock %}
{% block header%}
    {% include 'includes/main_header.html' with author='favorities' %}
{% endblock %}
{% block content %}
    {% csrf_token %}
{% include 'includes/example_content.html' %}
{% include 'includes/pagination.html' %}
{% endblock %}
{% block js %}
    <script src="{% static '/js/components/MainCards.js' %}"></script>
    <script src="{% static '/js/components/Purchases.js' %}"></script>
    <script src="{% static '/js/components/Favorites.js' %}"></script>
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/CardList.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>
    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
{% endblock %}

