{% extends "base.html" %}
{% load static %}
{% load user_filter %}
{% load thumbnail %}
{% block title %}
    Мои покупки
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}


{% block header%}
    <div class="main__header">
        <h1 class="main__title">Мои покупки</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="card-list card-list_column">
    {% csrf_token %}
        <ul class="shopping-list">
            {% for recipe in recipes %}
                <li class="shopping-list__item" data-id="{{ recipe.recipe.id }}">
                    <div class="recipe recipe_reverse">
                        {% thumbnail recipe.recipe.image "144x144" crop="center" as im %}
                            <img src="{{ im.url }}" alt="{{ recipe.recipe.title }}" class="recipe__image {% if shop_list %}recipe__image_big{% endif %}">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ recipe.recipe.title}}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.recipe.cooking_time | duration }} </p>
                    </div>
                    <a href="#" class="shopping-list__button link">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static './js/config/config.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>
    <script src="{% static './js/components/ShopList.js' %}"></script>
    <script src="{% static './js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock %}